<h1>Movies database</h1>
<a href="movies/new">Add a new movie</a>
<p><a href="/">Back to main page</a></p>

<div class="container">
    <div class="row">
        <div class="col-md-3"><h4>Movie</h4></div>
        <div class="col-md-8"><h4>Description</h4></div>
        <div class="col-md-1"><h4>URL</h4></div>
    </div>
    <% @output.each do |x| %>
        <div class="row">
            <div class="col-md-1"><img src="<%=x.image_url%>" width="80"></div>
            <div class="col-md-2">
                <%=x.title%>
                "Year: <%=x.year%>"
                "Duration: <%=x.duration%>"
                <a href="/movies/<%=x.id%>">Show details</a>
                <a href="movies/<%=x.id%>/delete">Delete</a>
            </div>
            <div class="col-md-8"><%=x.description%></div>
            <div class="col-md-1"><%=x.image_url%></div>
        </div>
    <hr>
    <% end %>
</div>
    
