<div class="container">
    <h1>Director details</h1>
    <div class="row"><a href="/directors/<%= @row.id %>/edit">Edit director</a></div>
    <div class="row"><a href="/directors/<%= @row.id %>/delete">Delete director</a></div>
    <div class="row"><a href="/directors">Back to "Directors" database</a></div>
    <div class="row"><a href="/">Back to main page</a></div>
    </p>
    <h3><%= @row.name %></h3>
    <img src="<%= @row.image_url %>">
    <h6>Date of birth: <%= @row.dob %></h6>
    <p>URL: <%= @row.image_url %></p>
    <h6>Bio</h6>
    <p><%= @row.bio%></p>
</div>